name: Deploy Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'VERSION'
      - 'docs/**'
      - 'mkdocs.yml'
      - '.github/workflows/deploy_docs.yml'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install --no-cache-dir mkdocs-material

      - name: Deploy documentation to GitHub Pages
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          mkdocs gh-deploy --force
